<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search_For_Work</title>
</head>
<body>
<div id="app">
    <input v-model="msg" type="text" >
    <input type="button" @click="get()" value="Search"></input>
</div>
</body>
</html>
<script src="vue.js"></script>
<!--vue 运行ajax必引入得插件-->
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script>
        var vm = new Vue({
            el:'#app',
            data:{
                msg:'请输入',
            },
            methods:{
                get:function(){
                    //发送 post 请求
                    this.$http.get('/search?name='+this.msg,{emulateJSON:true}).then(function(res){
                        alert(res.bodyText);
                    },function(res){
                        alert("该参数无法找到："+this.msg+" 返回状态："+res.status);
                    });
                }
            }
        });
</script>